# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
mcswain

# Output of the go coverage tool
*.out

# Dependency directories (if you're not using vendoring)
vendor/


# IDE/editor specific files
.idea/
.vscode/
*.swp
*.tmp
